*{
    margin: 0% ;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head{
    background-color: rgb(0, 149, 255);
    display: flex;justify-content: space-around;
    padding: 10px;
    -webkit-box-shadow: 0 0 12px 0.5px #000000;
-moz-box-shadow: 0 0 12px 0.5px #000000;
box-shadow: 0 0 12px 0.5px #000000;
}
.logo{
   margin-top: 10px;
   cursor: pointer;
    width: 150px;
}
input{
    /* border-radius: 10px; */
    border: 0px;
    box-shadow: 0px 0px 10px ;
    padding: 5px;
 margin-top: 10px;
    
    width: 300px;


}
.search{
   
    display: flex;

}
.searchicon{
    
    width: 20px;
   
    box-shadow: 5px 0px 20px rgb(110, 110, 110) ;
    margin-top: 10px;
    background-color: #f65206;
    /* border-radius: 2px; */
 filter: invert();
 cursor: pointer;
    padding: 26%;
}
.headicons img{
    
    width: 30%;
    margin-top: 15px;
    filter: invert();
    cursor: pointer;
}
/* nav bar */
.navbar {
    display: flex;
    gap: 20px;
    margin-top: 3%;
    
}

.links {
    background-color: rgb(35, 147, 245);
    margin-left: 3%;

    
}

.links h1 {
    color: white;
    background-color: #f65206;
    padding: 10px;
    margin: 15px 10px;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 20px;
    width: 230px;
}

.links a:hover {
    color: white;
}

aside img {
    width: 100%;
    height: 100%;
}

/* Media queries for responsiveness */

@media (max-width: 1200px) {
    .navbar {
        height: 80%;
    }
    .links {
        margin-left: 3%;
        width: 80%;
        font-size: small;
        align-items: center;
       
    }
    .links h1{
        font-size: small;
    }
   
}

@media (max-width: 768px) {
    .links {
        margin-left: 0;
        width: 20%;
        height: 200px;
       
    }

    .links h1 {
        padding: 0px;
        margin: 15px auto;
    }

    .links a {
        /* margin: 10px auto; */
        margin: 0px 30px 0px;
        text-align: center;
       
        justify-content: center;
        width: 0px;
    }
    

    aside img {
        width: 100%;
        height: 200px;
    }

    input {
        width: 100%;
    }
    .searchicon {
        width: 30%;
        
        box-shadow: 5px 0px 20px rgb(110, 110, 110);
        padding: 20%;
    }
    .headicons img {
        width: 40%;
        margin-top: 10px;
        filter: invert();
    }
    .logo{
        width: 20%;
        margin-top: 10px;
        filter: invert();
    }
}

@media (max-width: 480px) {
    .links {
        width: 100%;
        height: 100px;
    }

    .links h1 {
        font-size: 0.7em;
       margin: 0;
    }

    .links a {
        font-size: 0.6em;
        width: 100%;
        margin: 0;
    }

    aside img {
        width: 100%;
        height: auto;
    }
    input {
        width: 100%;
    }
}
/* content */

h1 {
    text-align: center;
    margin: 30px;
}

.phones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(./assests/blob-scene-haikei\ \(1\).svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    
   
}
.phones::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: brightness(0.8);
    background-repeat: inherit;
    /* filter: blur(5px);  */
    z-index: -1;
}

.phones img {
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 0 0 20px -2.10px #3e3e3e;
    transition: transform 0.3s;
    &&:hover{
      
        transform: translateY(-5px);
    }
}

.phones div {
    
    flex: 1 1 30%;
    margin: 10px;
    box-sizing: border-box;
    
}

.phones p {
    text-align: center;
    margin: 5px 0;
}
.phdiv{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.359);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px -2.5px #5e5d5d;
-moz-box-shadow: 0 0 12px -2.5px #484848;
box-shadow: 0 0 12px -2.5px #5b5b5b;
transition: transform 0.3s;
    &&:hover{
      
        transform: translateY(5px);
    }
}

.mobile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Media queries for responsiveness */

@media (max-width: 1200px) {
    .phones div {
        flex: 1 1 45%;
    }
    .phones img {
        width: 40%;
        margin: 0 auto;
        margin-left: 30%;
    }
}


@media (max-width: 768px) {
    .phones div {
        flex: 1 1 90%;
    }

    .phones img{
        width: 40%;
        margin: 0 auto;
        margin-left: 30%;
    }
}

@media (max-width: 480px) {
    .phones div {
        flex: 1 1 100%;
    }

    .phones img {
        width: 30%;
        margin: 0 auto;
        margin-left: 35%;
    }
}

/* laptops */
.ltdiv{
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 12px -2.5px #5e5d5d;
    -moz-box-shadow: 0 0 12px -2.5px #484848;
    box-shadow: 0 0 12px -2.5px #5b5b5b;
   
    margin-bottom: 20px;
     transition: transform 0.3s;
    &&:hover{
      
        transform: translateY(5px);
    }
    
}
.ltdiv img{
    border-radius: 10px;
    margin-left: 10%;
   
    border-radius: 10px;
   height: 150px;
    width: 250px;
   
    transition: transform 0.3s;
    &&:hover{
      
        transform: translateY(-5px);
    }

}
.label{
    max-width: 20%;
    border-radius: 10px 25px 25px 0px;
    background-color: yellow;
}
.ltdiv p {
    width: 300px;
  padding: 10px;
}
.laptops{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 
   padding: 20px;
}

/* Media Queries */
@media (max-width: 1027px){
    .laptops{
        justify-content: space-around;
       
    }

}
@media (max-width: 768px) {
    .laptops {
        /* justify-content: center; */
    }

    .ltdiv {
        flex-basis: 95%;
        margin-bottom: 20px;
    }

   

    .ltdiv p {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .links a{
        font-size: 1.0em;
    }
    aside img {
        width: 100%;
        height: 100px;
    }
    .laptops {
        justify-content: center;
    }
    .ltdiv img{
        width: 60%;
        margin-left: 20%;
    }
    .ltdiv {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/* watches */
.wdiv{
    
}
